In [23]:
import pandas as pd
from scipy.spatial import distance

In [24]:
perfiles = pd.read_csv('Data/uPerfil_Clear.csv')
perfiles.drop('Unnamed: 0',axis=1,inplace=True)
users=perfiles['userID']
perfiles.drop('userID',axis=1,inplace=True)
rating = pd.read_csv('Data/rating_final.csv')
rInfo=pd.read_csv('Data/rInfo.csv')

In [25]:
array_norm = perfiles.values

In [26]:
def recomienda_10(_list):
    distancias = []

    for i in range(len(perfiles)):
        distancias.append(10-distance.euclidean(_list, array_norm[i]))
       
    df_dist = pd.DataFrame({'userID':users, 'dist':distancias})
    
    top20Users=df_dist.sort_values('dist', ascending=False).head(10)
    
    ratingtop20=pd.merge(top20Users,rating, how='inner', on='userID')
    
    ratingtop20['rating_final']=2*ratingtop20['dist']*ratingtop20['rating']+ratingtop20['dist']*ratingtop20['food_rating']+ratingtop20['dist']*ratingtop20['service_rating']
    rating_final=ratingtop20[['placeID','rating_final']]
    rTop5=rating_final.sort_values('rating_final', ascending=False).head(5)
    salida=pd.merge(rTop5,rInfo,how='inner',on='placeID')
    return salida[['name','alcohol','smoking_area','price','dress_code','parking_lot']]

In [27]:
a=recomienda_10([1,0,0,0,1])

In [28]:
a

,name,alcohol,smoking_area,price,dress_code,parking_lot
0,Restaurante la Estrella de Dima,Wine-Beer,none,high,informal,yes
1,Restaurante El Chivero S.A. de C.V.,No_Alcohol_Served,none,high,informal,yes
2,Koye Sushi,No_Alcohol_Served,none,high,informal,None
3,La Posada del Virrey,Wine-Beer,none,high,casual,other
4,Tortas Locas Hipocampo,No_Alcohol_Served,not permitted,medium,informal,other