In [53]:
import pandas as pd
from scipy.spatial import distance

In [65]:
perfiles = pd.read_csv('Data/uPerfil_Clear.csv')
perfiles.drop('Unnamed: 0',axis=1,inplace=True)
users=perfiles['userID']
perfiles.drop('userID',axis=1,inplace=True)
rating = pd.read_csv('Data/rating_final.csv')

In [55]:
array_norm = perfiles.values
array_norm

array([[1, 1, 0, 1, 1],
       [1, 1, 0, 1, 0],
       [1, 0, 1, 1, 0],
       [1, 1, 0, 1, 1],
       [1, 1, 2, 1, 1],
       [0, 0, 2, 0, 1],
       [1, 0, 0, 1, 0],
       [1, 0, 1, 1, 0],
       [1, 1, 1, 1, 1],
       [1, 0, 2, 0, 1],
       [1, 1, 2, 1, 1],
       [1, 0, 1, 1, 1],
       [1, 1, 2, 1, 1],
       [1, 1, 0, 1, 1],
       [0, 0, 0, 1, 1],
       [1, 0, 0, 1, 1],
       [1, 0, 1, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 2, 1, 1],
       [1, 1, 2, 1, 1],
       [1, 0, 2, 0, 1],
       [1, 0, 1, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 2, 1, 1],
       [1, 1, 1, 1, 1],
       [0, 0, 2, 1, 0],
       [1, 1, 2, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 1, 1, 1],
       [1, 1, 0, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 0, 2, 1, 0],
       [1, 0, 0, 1, 1],
       [0, 0, 2, 0, 1],
       [1, 0, 0, 1, 1],
       [1, 0, 2, 1, 0],
       [0, 0, 2, 1, 0],
       [1, 0, 2, 1, 1],
       [1, 1, 2, 1, 1],
       [1, 1, 2, 1, 1],
       [1, 1, 2, 0, 2],
       [1, 1, 2, 1, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 1, 0, 2],
       [1, 0, 2, 0, 1],
       [1, 1, 2, 1, 1],
       [0, 0, 2, 1, 1],
       [1, 0, 2, 0, 1],
       [1, 0, 2, 1, 1],
       [0, 0, 2, 1, 0],
       [1, 0, 0, 1, 0],
       [1, 0, 1, 1, 1],
       [1, 1, 2, 0, 1],
       [1, 0, 0, 1, 1],
       [0, 0, 1, 1, 1],
       [1, 1, 1, 1, 0],
       [1, 1, 1, 1, 1],
       [1, 0, 1, 1, 1],
       [1, 0, 2, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 1, 1, 1],
       [1, 0, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 0, 1, 0],
       [1, 1, 2, 1, 1],
       [1, 0, 0, 1, 0],
       [1, 0, 2, 1, 1],
       [1, 0, 0, 1, 0],
       [1, 1, 1, 0, 2],
       [1, 0, 2, 1, 1],
       [1, 1, 0, 0, 1],
       [0, 0, 2, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 1, 1, 1],
       [1, 0, 1, 1, 1],
       [0, 0, 0, 0, 1],
       [1, 1, 1, 1, 1],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 1, 0],
       [0, 1, 0, 1, 1],
       [0, 0, 1, 1, 1],
       [1, 0, 2, 0, 1],
       [1, 1, 2, 1, 1],
       [1, 0, 0, 1, 1],
       [0, 0, 0, 1, 0],
       [1, 0, 2, 0, 1],
       [1, 0, 2, 0, 0],
       [1, 1, 1, 1, 1],
       [0, 0, 2, 0, 1],
       [1, 1, 0, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 0, 1, 1, 1],
       [0, 0, 0, 1, 2],
       [1, 0, 1, 1, 1],
       [1, 0, 2, 0, 0],
       [1, 0, 2, 1, 0],
       [1, 1, 1, 1, 1],
       [0, 0, 2, 0, 1],
       [1, 0, 1, 1, 1],
       [1, 0, 0, 0, 1],
       [1, 1, 2, 0, 2],
       [1, 1, 0, 1, 1],
       [1, 1, 1, 1, 0],
       [1, 1, 2, 0, 1],
       [0, 0, 1, 0, 1],
       [0, 0, 1, 0, 1],
       [1, 0, 1, 1, 1],
       [1, 1, 2, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 1, 1, 1],
       [1, 1, 2, 1, 1],
       [0, 0, 0, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 0, 1, 0],
       [1, 0, 2, 1, 1],
       [1, 1, 0, 1, 1],
       [1, 0, 0, 1, 0],
       [1, 0, 1, 1, 0],
       [1, 0, 1, 1, 0],
       [1, 1, 2, 1, 0],
       [1, 0, 2, 1, 0],
       [1, 0, 2, 1, 0],
       [0, 0, 2, 0, 1],
       [1, 1, 2, 0, 1],
       [1, 0, 2, 1, 1],
       [1, 0, 0, 1, 0],
       [0, 0, 2, 0, 0],
       [1, 0, 1, 1, 0],
       [1, 0, 1, 1, 1]])

In [77]:
def recomienda_20(_list):
    distancias = []

    for i in range(len(perfiles)):
        distancias.append(10-distance.euclidean(_list, array_norm[i]))
       
    df_dist = pd.DataFrame({'userID':users, 'dist':distancias})
    
    return df_dist.sort_values('dist', ascending=False).head(10)

In [78]:
top20=recomienda_20([1,1,0,1,1])

In [79]:
top20.head()

     dist userID
0    10.0  U1001
117  10.0  U1123
29   10.0  U1031
103  10.0  U1108
13   10.0  U1014

In [81]:
ratingtop20=pd.merge(top20,rating, how='inner', on='userID')

In [82]:
ratingtop20.head()

   dist userID  placeID  rating  food_rating  service_rating
0  10.0  U1001   132830       1            1               1
1  10.0  U1001   132825       2            2               1
2  10.0  U1001   135085       0            1               1
3  10.0  U1001   135040       1            1               1
4  10.0  U1001   135039       1            1               1

In [97]:
ratingtop20['rating_final']=2*ratingtop20['dist']*ratingtop20['rating']+ratingtop20['dist']*ratingtop20['food_rating']+ratingtop20['dist']*ratingtop20['service_rating']
rating_final=ratingtop20[['placeID','rating_final']]
rating_final=rating_final.groupby('placeID').mean()
rating_final.sort_values('rating_final', ascending=False).head(10)

         rating_final
placeID
135025           80.0
132958           80.0
132954           80.0
135106           80.0
135104           80.0
135050           80.0
132723           76.0
135072           72.0
135030           72.0
132847           72.0